@model IEnumerable<WebApplicationMVC.Models.Subscription>

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Подписки пользователя";
}

<div class="container mt-5">
    <h2>Подписки пользователя</h2>
    @if (!Model.Any())
    {
            <p>У пользователя нет подписок.</p>
    }
    else
    {
            <table class="table">
                <thead>
                    <tr>
                        <th>Автор</th>
                        <th>Дата подписки</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var subscription in Model)
                {
                            <tr>
                                <td>@subscription.Author.Fullname</td>
                                <td>@subscription.Createdat.ToString("yyyy-MM-dd")</td>
                                <td>
                                    <a href="@Url.Action("Details", "User", new { id = subscription.Author.Id })" class="btn btn-link">Просмотр профиля</a>
                                </td>
                            </tr>
                }
                </tbody>
            </table>
    }
</div>
