@model WebApplicationMVC.Models.Article

@using WebApplicationMVC.Models;

@{
    ViewData["Title"] = "Создание статьи";
    Layout = "_MainLayout";
}

<div class="container">
    <div class="form-container">
        <h2>Создание статьи</h2>
        <form asp-action="Create" method="post">

            <div class="d-flex justify-content-start mb-4">
                <div class="user-avatar-wrapper" style="width: 120px; height: 160px; background-color: #bdc3c7; border-radius: 5px; overflow: hidden;">
                    <img id="previewUrl" src="@Model.Previewurl" alt="Превью статьи не загружено." class="preview-img" style="width: 100%; height: 100%; object-fit: cover;" />
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label"><strong>Ссылка на аватар:</strong></label>
                <input name="previewUrl" id="Avatarurl" class="form-control" placeholder="Введите ссылку на превью статьи" value="@Model.Previewurl" />
                <span class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Title" class="form-label">Заголовок</label>
                <input type="text" name="title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Content" class="form-label">Содержание</label>
                <textarea name="content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="VisibilityId" class="form-label">Видимость</label>
                <select name="visibilityId" class="form-select">
                    @foreach (var visibility in ViewBag.VisibilityOptions as List<Visibility>)
                    {
                        <option value="@visibility.Id">@visibility.Name</option>
                    }
                </select>
                <span asp-validation-for="VisibilityId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Теги</label>
                <input type="text" name="tagNames" class="form-control" placeholder="Введите теги, разделяя их запятыми" />
                <span class="form-text">Добавьте теги для классификации вашей статьи</span>
            </div>

            <button type="submit" class="btn btn-primary">Создать</button>
        </form>
    </div>
</div>

<script>
    document.getElementById("previewUrl").addEventListener("input", function() {
        var previewUrl = this.value;
        var previewImage = document.getElementById("previewUrl");

        if (previewUrl) {
            previewImage.src = previewUrl;
        }
    });
</script>
